.root{
    -fx-background-image: url("background.jpg");
}
.hbox {
    -fx-end-margin: 20px ;
}

.date-picker{
    -fx-max-width: 100px;
}
.time-picker{
    -fx-max-width: 50px;
}

.label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}
